<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f6f80">  <td>22/05/19 14:31:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataDrivenTests.test_delete(int)[pri:0, instance:DataDriven.DataDrivenTests@49c7b90e]">test_delete</td> 
  <td>main@33533830</td>   <td></td> </tr>
<tr bgcolor="8f6f80">  <td>22/05/19 14:31:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataDrivenTests.test_delete(int)[pri:0, instance:DataDriven.DataDrivenTests@49c7b90e]">test_delete</td> 
  <td>main@33533830</td>   <td></td> </tr>
<tr bgcolor="8f6f80">  <td>22/05/19 14:31:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataDrivenTests.test_delete(int)[pri:0, instance:DataDriven.DataDrivenTests@49c7b90e]">test_delete</td> 
  <td>main@33533830</td>   <td></td> </tr>
</table>
